<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/oldsite">Old site</a>
    </nav>

    <p>
        <div>
         <a href="mailto:me@davidpetrie.com"><img style="display: inline" src="/images/email.png" alt="E-mail" width=30 /></a>
         <a href="http://twitter.com/davidcpetrie"><img style="display: inline"  src="/images/twitter.png" alt="Twitter" width=30 /></a>
         <a href="https://github.com/cdave1/"><img style="display: inline"  src="/images/github.png" alt="Github" width=30 /></a>
         <a href="https://www.facebook.com/david.petrie.nz"><img style="display: inline"  src="/images/fb.png" alt="Facebook" width=30 /></a>

         <p class="legal-copyright">
             &copy; David Petrie {{ site.time | date: '%Y' }}
         </p>
       </div>
     </p>
  </div>
</div>
